<div [ngClass]="{ 'kids-theme': isKidsTheme }">
  <mat-toolbar>
    <button
      mat-icon-button
      disabled="true"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <!-- <mat-icon>sailing</mat-icon> -->
      <mat-icon>waves</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-icon-button (click)="toggleKidsTheme()">
        <mat-icon *ngIf="isKidsTheme">pets</mat-icon>
        <mat-icon *ngIf="!isKidsTheme">favorite</mat-icon>
      </button>
    </div>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Main">
      <section>
        <h2 class="mat-h2">
          Boats
          <span class="demo-section">
            <button
              mat-raised-button
              color="primary"
              matBadge="{{ boats.length }}"
              matBadgePosition="before"
              matBadgeColor="accent"
              (click)="onAddBoat()"
            >
              Add
            </button>
            &nbsp;
            <button mat-raised-button color="warn" (click)="onDeleteAllBoats()">
              Remove all
            </button>
          </span>
        </h2>

        <h3 class="mat-h3" *ngFor="let boat of boats; let i = index">
          Boat {{ i }} cabins berths:
          <mat-button-toggle-group name="berths">
            <div *ngFor="let cabin of boat.cabins; let isLast = last">
              <mat-button-toggle (click)="changeBerths(cabin)">{{
                cabin.berths
              }}</mat-button-toggle>
            </div>
          </mat-button-toggle-group>
          <button mat-icon-button color="warn" (click)="onDeleteBoat(boat)">
            <mat-icon>delete</mat-icon>
          </button>
        </h3>
      </section>

      <section>
        <app-attendees-list
          [attendees]="attendees"
          (delete)="onDelete($event)"
          (deleteAll)="onDeleteAllAtteendees()"
          (add)="onAdd()"
        ></app-attendees-list>
      </section>

      <section>
        <h2 class="mat-h2">
          Assignments
          <button
            mat-raised-button
            color="primary"
            [disabled]="consatisfactionComputing"
            (click)="assignAttendeesToBoats()"
          >
            <mat-icon>assignment</mat-icon> Assign attendees to boats
          </button>
          &nbsp;
          <button mat-raised-button color="warn" (click)="reportProblem()">
            <mat-icon>report</mat-icon> Report a problem
          </button>
        </h2>

        <mat-progress-bar
          *ngIf="consatisfactionComputing"
          [mode]="'indeterminate'"
          [value]="'query'"
        >
        </mat-progress-bar>

        <div *ngIf="consatisfactionResponse">
          <mat-list role="list">
            <mat-list-item
              role="listitem"
              *ngFor="
                let group of consatisfactionResponse.result.groups;
                let i = index
              "
            >
              Boat
              {{
                consatisfactionResponse.result.solution &&
                consatisfactionResponse.result.solution.length > 0
                  ? consatisfactionResponse.result.solution[i]
                  : "X"
              }}:
              <span *ngFor="let attendee of group; let isLast = last"
                >{{ attendee.name }}{{ isLast ? "" : ", " }}
              </span>
            </mat-list-item>
          </mat-list>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Details</mat-panel-title>
                <mat-panel-description>
                  Some details about how computation was done
                </mat-panel-description>
              </mat-expansion-panel-header>
              <pre>
solution: {{ consatisfactionResponse.result.solution.toString() }}
captain_groups: {{ consatisfactionResponse.result.captain_groups.toString() }}
kids_groups: {{ consatisfactionResponse.result.kids_groups.toString() }}
no_kids_groups: {{ consatisfactionResponse.result.no_kids_groups.toString() }}
odd_gender_groups: {{
                  consatisfactionResponse.result.odd_gender_groups.toString()
                }}
                  
capacities: {{ consatisfactionResponse.result.capacities.toString() }}
boats: {{ consatisfactionResponseResultBoats }}
                  
objective_value: {{ consatisfactionResponse.result.objective_value }}
gender_disparity_weight: {{
                  consatisfactionResponse.result.gender_disparity_weight
                }}
lambda_weight: {{ consatisfactionResponse.result.lambda_weight }}
              
args: {{ consatisfactionResponseArgs }}
meta: {{ consatisfactionResponseMeta }}
consatisfaction_gversion_info: {{
                  consatisfactionResponse.consatisfaction_version_info
                }}
                </pre
              >
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </section>
    </mat-tab>

    <mat-tab label="Settings">
      <h2 class="mat-h2">Solution parameters</h2>
      <p>
        <button mat-raised-button color="warn" (click)="onResetSolverArgs()">
          Reset to defaults
        </button>
      </p>
      <h3 class="mat-h3">
        sail_experience_as_captain:
        <span
          ><mat-form-field appearance="fill">
            <input
              matInput
              [(ngModel)]="solverArgs.sail_experience_as_captain"
            />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        skipper_rating_threshold:
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.skipper_rating_threshold" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        kids_age_threshold:
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.kids_age_threshold" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        no_kids_tag:
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.no_kids_tag" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        lambda_weight:
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.lambda_weight" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        gender_disparity_weight:
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.gender_disparity_weight" />
          </mat-form-field>
        </span>
      </h3>

      <h2 class="mat-h2">Web parameters</h2>
      <h3 class="mat-h3">
        Autosave:
        <mat-slide-toggle [(ngModel)]="isAutosaveChecked"></mat-slide-toggle>
      </h3>
    </mat-tab>
  </mat-tab-group>
</div>
