<div [ngClass]="{ 'kids-theme': isKidsTheme }">
  <mat-toolbar>
    <button
      mat-icon-button
      disabled="true"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <!-- <mat-icon>sailing</mat-icon> -->
      <mat-icon>waves</mat-icon>
    </button>
    <span i18n="App title">Boater</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-icon-button (click)="toggleKidsTheme()">
        <mat-icon *ngIf="isKidsTheme">pets</mat-icon>
        <mat-icon *ngIf="!isKidsTheme">favorite</mat-icon>
      </button>
    </div>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
    <button
      mat-icon-button
      class="example-icon"
      (click)="onShare()"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab i18n-label="{Main tab}" label="Main">
      <section>
        <h2 class="mat-h2">
          <span class="demo-section">
            <ng-container i18n="A title for boats list">Boats</ng-container>
            &nbsp;
            <button
              i18n="Add boat button"
              mat-raised-button
              color="primary"
              matBadge="{{ boats.length }}"
              matBadgePosition="before"
              matBadgeColor="accent"
              (click)="onAddBoat()"
            >
              Add
            </button>
            &nbsp;
            <button
              i18n="Remove all boats button"
              mat-raised-button
              color="warn"
              (click)="onDeleteAllBoats()"
            >
              Remove all
            </button>
          </span>
        </h2>

        <h3 class="mat-h3" *ngFor="let boat of boats; let i = index">
          <span i18n>Boat {{ i }} cabins berths:</span>
          <mat-button-toggle-group name="berths">
            <div *ngFor="let cabin of boat.cabins; let i = index">
              <mat-button-toggle (click)="changeBerths(boat.cabins, i)">{{
                cabin
              }}</mat-button-toggle>
            </div>
          </mat-button-toggle-group>
          <button mat-icon-button color="warn" (click)="onDeleteBoat(boat)">
            <mat-icon>delete</mat-icon>
          </button>
        </h3>
      </section>

      <section>
        <app-attendees-list
          [attendees]="attendees"
          (delete)="onDelete($event)"
          (deleteAll)="onDeleteAllAtteendees()"
          (add)="onAdd()"
        ></app-attendees-list>
      </section>

      <section>
        <h2 class="mat-h2">
          <span i18n>Problems?</span>
          <button mat-raised-button color="warn" (click)="reportProblem()">
            <mat-icon>report</mat-icon>
            <span i18n="Report a problem button">Report a problem</span>
          </button>
        </h2>

        <h2 class="mat-h2">
          Assignments
          <button
            mat-raised-button
            color="primary"
            [disabled]="consatisfactionComputing"
            (click)="assignAttendeesToBoats()"
          >
            <mat-icon>assignment</mat-icon>
            <span i18n="Assign attendees to boats button"
              >Assign attendees to boats</span
            >
          </button>
        </h2>

        <mat-progress-bar
          class="top-edge-progress-bar"
          *ngIf="consatisfactionComputing"
          [mode]="'indeterminate'"
          [value]="'query'"
        >
        </mat-progress-bar>

        <div *ngIf="consatisfactionResponse">
          <mat-list role="list">
            <mat-list-item
              role="listitem"
              *ngFor="
                let group of consatisfactionResponse.result.groups;
                let i = index
              "
            >
              Boat
              {{
                consatisfactionResponse.result.solution &&
                consatisfactionResponse.result.solution.length > 0
                  ? consatisfactionResponse.result.solution[i]
                  : "X"
              }}:
              <span *ngFor="let attendee of group; let isLast = last"
                >{{ attendee.name }}{{ isLast ? "" : ", " }}
              </span>
            </mat-list-item>
          </mat-list>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title i18n="Details title|Computation details">
                  Details</mat-panel-title
                >
                <mat-panel-description i18n>
                  Some details about how computation was done
                </mat-panel-description>
              </mat-expansion-panel-header>
              <pre>
<ng-container i18n>solution:</ng-container> {{ consatisfactionResponse.result.solution.toString() }}
<ng-container i18n>captain_groups:</ng-container> {{ consatisfactionResponse.result.captain_groups.toString() }}
<ng-container i18n>kids_groups:</ng-container> {{ consatisfactionResponse.result.kids_groups.toString() }}
<ng-container i18n>no_kids_groups:</ng-container> {{ consatisfactionResponse.result.no_kids_groups.toString() }}
<ng-container i18n>odd_gender_groups:</ng-container> {{
                  consatisfactionResponse.result.odd_gender_groups.toString()
                }}
                  
<ng-container i18n>capacities:</ng-container> {{ consatisfactionResponse.result.capacities.toString() }}
<ng-container i18n>boats:</ng-container> {{ consatisfactionResponseResultBoats }}
                  
<ng-container i18n>objective_value:</ng-container> {{ consatisfactionResponse.result.objective_value }}
<ng-container i18n>gender_disparity_weight:</ng-container> {{
                  consatisfactionResponse.result.gender_disparity_weight
                }}
<ng-container i18n>lambda_weight:</ng-container> {{ consatisfactionResponse.result.lambda_weight }}
              
<ng-container i18n>args:</ng-container> {{ consatisfactionResponseArgs }}
<ng-container i18n>meta:</ng-container> {{ consatisfactionResponseMeta }}
<ng-container i18n>consatisfaction_gversion_info:</ng-container> {{
                  consatisfactionResponse.consatisfaction_version_info
                }}
                </pre>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </section>
    </mat-tab>

    <mat-tab i18n-label="{Settings tab}" label="Settings">
      <h2 i18n="Solution parameters|Section title" class="mat-h2">
        Solution parameters
      </h2>
      <p>
        <button
          i18n="Reset to defaults button"
          mat-raised-button
          color="warn"
          (click)="onResetSolverArgs()"
        >
          Reset to defaults
        </button>
      </p>
      <h3 class="mat-h3">
        <ng-container i18n>sail_experience_as_captain:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input
              matInput
              [(ngModel)]="solverArgs.sail_experience_as_captain"
            />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        <ng-container i18n>skipper_rating_threshold:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.skipper_rating_threshold" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        <ng-container i18n>kids_age_threshold:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.kids_age_threshold" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        <ng-container i18n>no_kids_tag:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.no_kids_tag" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        <ng-container i18n>lambda_weight:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.lambda_weight" />
          </mat-form-field>
        </span>
      </h3>
      <h3 class="mat-h3">
        <ng-container i18n>gender_disparity_weight:</ng-container>
        <span
          ><mat-form-field appearance="fill">
            <input matInput [(ngModel)]="solverArgs.gender_disparity_weight" />
          </mat-form-field>
        </span>
      </h3>

      <h2 i18n="Web parameters|Section title" class="mat-h2">Web parameters</h2>
      <h3 class="mat-h3">
        <ng-container i18n>Autosave:</ng-container>
        <mat-slide-toggle [(ngModel)]="isAutosaveChecked"></mat-slide-toggle>
      </h3>
    </mat-tab>
  </mat-tab-group>
</div>
